@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-ExtraBold.woff2") format("woff2"), url("../fonts/Dosis-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Bold.woff2") format("woff2"), url("../fonts/Dosis-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-ExtraLight.woff2") format("woff2"), url("../fonts/Dosis-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-Regular.woff2") format("woff2"), url("../fonts/Dosis-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url("../fonts/Dosis-SemiBold.woff2") format("woff2"), url("../fonts/Dosis-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis';
  font-size: 16px;
}

body a {
  text-decoration: none;
  color: #000;
}

body a:hover {
  text-decoration: none;
}

body ul {
  padding: 0;
  margin: 0;
}

body ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body img {
  border: 0;
  max-width: 100%;
  vertical-align: top;
}

body .container {
  max-width: 1100px;
  margin: 0 auto;
}

@media only screen and (max-width: 1100px) {
  body .container {
    max-width: none;
    padding: 0 1.5rem;
  }
}

body .flexBox {
  display: flex;
}

body .alignitemCenter {
  align-items: center;
}

body .alignitemTop {
  align-items: flex-start;
}

body .alignitemBottom {
  align-items: flex-end;
}

body .justifyContentLeft {
  justify-content: flex-start;
}

body .justifyContentRight {
  justify-content: flex-end;
}

body .justifyContentCenter {
  justify-content: center;
}

body .justifyContentBetween {
  justify-content: space-between;
}

body .header {
  background: #464646;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  height: 4.75rem;
}

@media only screen and (max-width: 591px) {
  body .header {
    height: 3.75rem;
  }
}

body .header:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: #fff200;
}

body .header .headerIn {
  position: relative;
  z-index: 2;
  background: #fff200;
}

body .header .headerIn .logo {
  width: 16.75rem;
  height: 4.75rem;
}

@media only screen and (max-width: 591px) {
  body .header .headerIn .logo {
    width: auto;
    height: 3.75rem;
  }
}

body .header .headerIn .logo a {
  background: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0.875rem 0 2.25rem;
  height: 100%;
}

@media only screen and (max-width: 591px) {
  body .header .headerIn .logo a {
    padding: 0 0.875rem;
  }
}

body .header .headerIn .logo a .logoIcon {
  width: 4rem;
  margin: 0 0.5rem 0 0;
}

@media only screen and (max-width: 591px) {
  body .header .headerIn .logo a .logoIcon {
    width: 3rem;
  }
}

body .header .headerIn .logo a .logoText {
  color: #464646;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
}

body .header .headerIn .cartBtn {
  height: 2.25rem;
  width: 2.875rem;
  background: url(../images/ico_cart.svg) no-repeat;
  background-size: 100% auto;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 591px) {
  body .header .headerIn .cartBtn {
    height: 1.75rem;
    width: 2.25rem;
  }
}

body .header .headerIn .cartBtn.disableClsss {
  pointer-events: none;
}

body .header .headerIn .cartBtn span {
  position: absolute;
  right: 0;
  top: -0.75rem;
  color: #e63101;
}

@media only screen and (max-width: 591px) {
  body .header .headerIn .viewCartButtonSec {
    padding: 0 1.5rem 0 0;
  }
}

body .main {
  padding-top: 4.75rem;
}

@media only screen and (max-width: 591px) {
  body .main {
    padding-top: 3.75rem;
  }
}

body .main .cartListSec {
  padding: 5rem 0;
}

@media only screen and (max-width: 591px) {
  body .main .cartListSec {
    padding: 4rem 0;
  }
}

body .main .cartPan .cartAllListSec .cartList {
  flex-wrap: wrap;
  margin: 0 -3.125rem;
}

@media only screen and (max-width: 1100px) {
  body .main .cartPan .cartAllListSec .cartList {
    margin: 0 -1.5rem;
  }
}

@media only screen and (max-width: 680px) {
  body .main .cartPan .cartAllListSec .cartList {
    margin: 0 -1rem;
  }
}

@media only screen and (max-width: 591px) {
  body .main .cartPan .cartAllListSec .cartList {
    margin: 0;
  }
}

body .main .cartPan .cartAllListSec .cartList .cartItem {
  width: calc(33.333% - 6.25rem);
  margin: 0 3.125rem 6.25rem;
}

@media only screen and (max-width: 1100px) {
  body .main .cartPan .cartAllListSec .cartList .cartItem {
    width: calc(33.333% - 3rem);
    margin: 0 1.5rem 3rem;
  }
}

@media only screen and (max-width: 768px) {
  body .main .cartPan .cartAllListSec .cartList .cartItem {
    width: calc(50% - 3rem);
    margin: 0 1.5rem 3rem;
  }
}

@media only screen and (max-width: 680px) {
  body .main .cartPan .cartAllListSec .cartList .cartItem {
    width: calc(50% - 2rem);
    margin: 0 1rem 2rem;
  }
}

@media only screen and (max-width: 591px) {
  body .main .cartPan .cartAllListSec .cartList .cartItem {
    width: calc(100%);
    margin: 0 0 2rem;
  }
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartImg {
  position: relative;
  height: 17.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-bottom: 2rem;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartImg img {
  max-height: 100%;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartImg .discountText {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icons_2.svg) no-repeat 0 0;
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  -ms-background-size: 100% auto;
  width: 6.5rem;
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
  color: #029fc8;
  font-weight: 300;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cardTitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
  font-weight: 700;
  padding-bottom: 1.25rem;
  position: relative;
  color: #464646;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cardTitle:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.75rem;
  background: #029fc8;
  border-radius: 0.375rem;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartContent {
  padding: 0;
  color: #363636;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartContent .priceSec {
  font-size: 1rem;
  line-height: 1rem;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartContent .priceSec .oldPrice {
  text-decoration: line-through;
  margin: 0 0.25rem;
  font-weight: 300;
  color: #e63101;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartContent .priceSec .currentPrice {
  font-weight: 700;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .cartContent .contentLeft {
  padding-right: 0.5rem;
  flex: 1;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .addtoCartBtn {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding: 0 2rem 0 0;
  background: url(../images/icons_3.svg) no-repeat right top;
  background-size: 1.75rem auto;
  -webkit-background-size: 1.75rem auto;
  -moz-background-size: 1.75rem auto;
  -o-background-size: 1.75rem auto;
  -ms-background-size: 1.75rem auto;
  color: #029fc8;
  display: block;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .addtoCartBtn:hover {
  color: #e63101;
  cursor: pointer;
}

body .main .cartPan .cartAllListSec .cartList .cartItem .addtoCartBtn.disableBtn {
  pointer-events: none;
  opacity: 0.65;
}

body .main .cartPan .cartPopupSec {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

body .main .cartPan .cartPopupSec .popupOverlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
}

body .main .cartPan .cartPopupSec .cartPopupIn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 999999;
  max-width: 480px;
  width: 100%;
}

@media only screen and (max-width: 591px) {
  body .main .cartPan .cartPopupSec .cartPopupIn {
    width: 90%;
  }
}

body .main .cartPan .cartPopupSec .cartPopupIn .cartPopupBtm {
  padding: 2rem;
}

@media only screen and (max-width: 591px) {
  body .main .cartPan .cartPopupSec .cartPopupIn .cartPopupBtm {
    padding: 1.25rem;
  }
}

body .main .cartPan .cartPopupSec .cartPopupIn .cartPopupBtm .orderSummary {
  max-height: 16rem;
  overflow: auto;
}

body .main .cartPan .cartPopupSec .cartPopupIn .cartTitle {
  text-align: center;
  margin: 0;
  padding: 0.75rem 0;
  background: #029fc8;
  color: #fff;
}

body .main .cartPan .cartPopupSec .cartPopupIn .cartClose {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: #029fc8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-radius: 50%;
}

body .main .cartPan .cartPopupSec .orderSummary table {
  padding: 0;
  border: 1px solid #ccc;
  width: 100%;
}

body .main .cartPan .cartPopupSec .orderSummary table thead th {
  background: #f2f2f2;
  padding: 0.5rem;
  font-size: 0.75rem;
}

body .main .cartPan .cartPopupSec .orderSummary table tbody td {
  padding: 0.5rem;
  font-size: 0.75rem;
  border-bottom: 1px solid #ccc;
  vertical-align: middle;
}

body .main .cartPan .cartPopupSec .orderSummary table tbody td:last-child {
  text-align: center;
}

body .main .cartPan .cartPopupSec .orderSummary table tbody tr:last-child td {
  border-bottom: 0;
}

body .main .cartPan .cartPopupSec .qtyBox .actIcon {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 591px) {
  body .main .cartPan .cartPopupSec .qtyBox .actIcon {
    height: 1.5rem;
    width: 1.5rem;
  }
}

body .main .cartPan .cartPopupSec .qtyBox .actIcon.disableClass {
  pointer-events: none;
  opacity: 0.75;
}

body .main .cartPan .cartPopupSec .qtyBox .inputCont {
  margin: 0 0.25rem;
}

body .main .cartPan .cartPopupSec .qtyBox .inputCont .inputBox {
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 0 0.5rem;
  width: 2.5rem;
  text-align: center;
}

@media only screen and (max-width: 591px) {
  body .main .cartPan .cartPopupSec .qtyBox .inputCont .inputBox {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0 0.25rem;
  }
}

body .main .cartPan .cartPopupSec .removeBtn {
  color: #ff0000;
}

body .main .cartPan .cartPopupSec .totalOrderSec table {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 0.75rem;
}

body .main .cartPan .cartPopupSec .totalOrderSec table th {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #f2f2f2;
}

body .main .cartPan .cartPopupSec .totalOrderSec table td {
  padding: 0.5rem;
  border-bottom: 1px solid #f2f2f2;
  text-align: right;
}

body .main .cartPan .cartPopupSec .totalOrderSec table tr:last-child th {
  background: #ccc;
  border: 0;
  font-size: 0.875rem;
}

body .main .cartPan .cartPopupSec .totalOrderSec table tr:last-child td {
  background: #ccc;
  border: 0;
  font-size: 0.875rem;
  font-weight: 700;
}

body .footer {
  background: #029fc8;
  padding: 2rem 0;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

@media only screen and (max-width: 591px) {
  body .footer .footerIn {
    flex-direction: column;
  }
}

body .footer .copyrightSec {
  color: #fff;
}

body .footer .copyrightSec a {
  color: #fff;
}

body .footer .copyrightSec a:hover {
  color: #e63101;
}

body .footer .fooLinks {
  padding-left: 3rem;
}

@media only screen and (max-width: 591px) {
  body .footer .fooLinks {
    padding: 1rem 0 0;
  }
}

body .footer .fooLinks ul li {
  padding-right: 3rem;
}

@media only screen and (max-width: 591px) {
  body .footer .fooLinks ul li {
    padding-right: 1rem;
  }
}

body .footer .fooLinks ul li a {
  color: #fff;
}

body .footer .fooLinks ul li a:hover {
  color: #e63101;
}
